<div class="container">
<br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col"> Cellphone</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
      </tr>
    </head>
    <body>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name%></td>
        <td><%= user.email%></td>
        <td><%= user.cellphone%></td>
        <td><%= user.address%></td>
        <td><%=link_to 'show', user_path(user), class:"btn btn-primary"%></td>
      </tr>
    <% end %>
    </body>
  <table >
<div>
<%= link_to 'Add user', new_user_path, class: "btn btn-primary" %>
