<div>
  <h1> Create a New Account </h1>
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :cellphone %>
    <%= f.input :address %>
    <%= f.button :submit %> <%= link_to 'Back', users_path, class:"btn btn-primary" %>
  <% end %>
</div>