<div id="carouselExampleIndicators" class="carousel slide container" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag('2.jpg', class:"d-block w-100", size:'400x400') %>
    </div>
    <div class="carousel-item">
      <%= image_tag('3.jpg', class:"d-block w-100", size:'400x400') %>
    </div>
    <div class="carousel-item">
      <%= image_tag('4.jpg', class:"d-block w-100", size:'400x400') %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class=" container w-50">
  <% @products.each do |product|%>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
        <%= image_tag('gris.jpg', class:"card-img", style:'width: 180px') %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <%= link_to 'show', product_path(product), class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>