<div class="container">
  <h1 class="text-info"> <%= name %> Product </h1><br>
  <%= simple_form_for @product do |f| %>
    <%= f.file_field :image %><br>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.label "Categories: " %><br />
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div><br>
     <% end %>
    <%= f.input :quantity %>
    <%= f.input :price %>
    <%= f.button :submit, class:"btn btn-primary" %>
    <%= link_to 'Back', products_path, class:"btn btn-primary" %>
    <br>
  <% end %>
</div>