<div class="container w-50 pricing-table pricing-three-column border border-info rounded shadow-lg p-3 mb-5 bg-white ">
  <div class="span4 p-1 pb-3">
    <div class="plan-name-silver row">
      <div class="col">
        <h2 class="text-info title"><%= @product.name %></h2>
        <span>$<%= @product.price%></span>
      </div>
      <div class="col">
       <%=  image_tag @product.image, style: 'width: 180px;', class:" p-0 mb-2 float-right"%>
      </div>
    </div>
    <ul class="p-3">
      <li class="plan-feature text-info"><span>Description:</span> <%= @product.description %></li>
      <li class="plan-feature text-info"><span>Units available:</span> <%= @product.quantity %></li>
      <li class="plan-feature text-info"><span>Categories:</span></li>
      <% @product.categories.each do |category|%>
        <%= category.name %>
      <% end %>
      <li class="plan-feature text-info"><span>Seller:</span> <%= @product.user.first_name + " " + @product.user.last_name %></li>
      <li class="plan-feature text-info"><span>Cellphone:</span> <%= @product.user.cellphone%></li>
    </ul>
    <%= link_to 'Back', root_path, class:"btn btn-secondary text-center" %>
    <% if signed_in? && @product.user_id == current_user.id %>
      <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-info aling-center" %>
    <% end %>
  </div>
</div>
