<div class="container w-50 pricing-three-column">
  <div class="span4 plan pt-1">
    <div class="plan-name-silver row mt-0">
      <div class="col">
        <h2><%= @product.name %></h2>
        <span>$<%= @product.price%></span>
      </div>
      <div class="w-25 h-25 col">
        <%= image_tag @product.image, class:"w-50 h-25 float-right" if @product.image.attached? %>
      </div>
    </div>
    <ul>
      <li class="plan-feature text-info"><span>Description:</span> <%= @product.description %></li>
      <li class="plan-feature text-info"><span>Units available:</span> <%= @product.quantity %></li>
    </ul>
    <%= link_to 'Back', root_path, class:"btn btn-primary text-center" %>
    <% if signed_in? && @product.user_id == current_user.id %>
      <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-info aling-center" %>
    <% end %>
  </div>
</div>