<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application',
                             media: 'all',
                            'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <nav class="navbar bg-dark navbar-dark p-0">
      <%= link_to root_path do %>
        <%= image_tag('shoppy.png',
                      style: 'width: 40px;',
                      class:"navbar-brand") %>
        Shoppy
      <% end %>
      <ul class="nav nav-tabs justify-content-end">
        <% if signed_in? %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                              id="dropdownMenuButton"
                                                              data-toggle="dropdown"
                                                              aria-haspopup="true"
                                                              aria-expanded="false">
              <%= current_user.first_name %> <%= current_user.last_name %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'My products', products_path, class:"dropdown-item" %>
                <%= link_to "Logout", destroy_user_session_path,
                                      class:"dropdown-item",
                                      method: :delete %>
                <%=link_to 'My profile', edit_user_registration_path(current_user), class:"dropdown-item" %>
              </div>
            </div>
          </div>
        <% else %>
          <li class="nav-item">
          <%= link_to "Log in", new_user_session_path,
                                class:"btn btn-outline-primary m-2 p-2" %>
          </li>
          <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path,
                                 class:"btn btn-outline-light m-2 p-2" %>
          </li>
        <% end %>
      </ul>
    </nav>
    <% if notice %>
      <br>
      <div class="alert-primary p-2 container" role="alert">
        <%= notice%>
      </div>
    <% elsif alert %>
      <br>
      <div class="alert alert-primary p-2 container" role="alert">
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>