<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application',
                             media: 'all',
                            'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
   <%= favicon_link_tag asset_path('shoppy.png') %>
  </head>

  <body>
    <nav class="navbar bg-dark navbar-dark p-0">
      <%= link_to root_path, class:"navbar-brand pl-3 text-info title" do %>
        <%= image_tag('shoppy.png',
                      style: 'width: 40px;',
                      class:"navbar-brand")%>
      Shoppy
      <% end %>
      <ul class="nav navbar-brand">
        <% if user_signed_in? %>
          <li class="nav-item navbar-brand">
            <div class="dropdown">
              <button class=" btn" type="button"
                                                id="dropdownMenuButton"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
              <%= image_tag('sum2.png',style: 'width: 40px;', class:" p-0") %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'Add products', new_product_path, class:"dropdown-item" %>
                <%= link_to 'Add category', new_category_path, class:"dropdown-item" %>
              </div>
            </div>
          </li>
          <li class="nav navbar-brand">
            <div class="dropdown">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                                id="dropdownMenuButton"
                                                                data-toggle="dropdown"
                                                                aria-haspopup="true"
                                                                aria-expanded="false">
                <% if current_user.photo.attached? %>
                  <%= image_tag(current_user.photo,style: 'width: 30px;', class:"navbar-brand")%>
                <% else %>
                  <%= image_tag('photo.png',style: 'width: 30px;', class:"navbar-brand")%>
                <% end %>
              <%= current_user.first_name %> <%= current_user.last_name %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'My products', products_path, class:"dropdown-item" %>
                <%= link_to "Logout", destroy_user_session_path,
                                      class:"dropdown-item",
                                      method: :delete %>
                <%=link_to 'My profile', edit_user_registration_path(current_user), class:"dropdown-item" %>
              </div>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
          <%= link_to "Log in", new_user_session_path,
                                class:"btn btn-info m-2 p-2" %>
          </li>
          <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path,
                                 class:"btn btn-light m-2 p-2" %>
          </li>
        <% end %>
      </ul>
    </nav>
    <br>
    <% if notice %>
      <div class="alert alert-primary p-2 container alert-dismissible fade show" role="alert">
        <%= notice%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% elsif alert %>
      <div class="alert alert-warning p-2 container alert-dismissible fade show" role="alert">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>